body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  border-radius: 6px;
  background-color: white;
  padding: 8px;
  line-height: 1.25em;
  font-size: 1.25em;
}

.legend-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  opacity: 0.75;
}

.legend-row {
  display: flex;
  vertical-align: top;
}

